header#galaxy-ui
	nav.site-nav
		a.nav#logo(href="/") Telephenesis
		a.menuToggle |||

		#menu
			.user
				a.create.nav(href="/account") account
				if user && user.accessLevel >= config.adminLevel
					a.nav.admin(href="/admin") admin
				a.nav(href="/terms") terms
				a.nav(href="/logout") logout

			.guest
				a.nav(href="/login") login
				a.nav(href="/register") register

			a.nav(href="/help") help

	#sortingUI
		//-///REVISIT not sure about use of nav in terms of best semantics
		nav.order-nav
			span order:
			|
			|
			span.current-order galaxy

			ul
				li
					a.sort(data-order=CONSTS.ORDER.GALAXY) galaxy
				li
					a.sort(data-order=CONSTS.ORDER.CONSTELLATIONS) constellations
				li
					a.sort(data-order=CONSTS.ORDER.MOST_RECENT) by date
				li
					a.sort(data-order=CONSTS.ORDER.MOST_POPULAR) by popularity
				li
					a.sort.bookmarks-sort(
						style = { display: user ? "block" : "none" }
						class = !user || user.bookmarks.length == 0 ? 'disabled' : ''
						data-order = CONSTS.ORDER.BOOKMARKS
					) bookmarks
				//- li recently played

		nav.view-nav
			span view:
			| &nbsp;
			span.current-view galaxy

			ul
				li
					a.sort(data-view=CONSTS.VIEW.LIST) list
				li
					a.sort(data-view=CONSTS.VIEW.GRID) grid


	header#playingStarHeader.inactive
		div#playbackProgress
			div#playbackProgressBar
			// div#playbackProgressAccent

header#sorting-header
	h2.view-header Sorting by Most Recent

//-move into own file probably:
div#playingStarInfo
	h2#playingStarTitle Song Title
	h3#playingCreatorName Artist Name
	a#playingCreatorLink(target="_blank") artistwebsite.com
	a#togglePlayingComments Comments
	div#playingComments
		//-button + Add Comment

		form#createCommentForm.ajax.user(
			method='POST'
			action='/create-comment'
			data-ajax-action='/ajax/create-comment'
		)
			input.playing-star-id(
				type='hidden'
				name='starID'
			)

			textarea.comment-text(
				placeholder=L['[POSITIVE-COMMENT]'][Date.now() % L['[POSITIVE-COMMENT]'].length]
				name='commentText'
				rows='1'
			)

			button.btn.green.text-left(type='submit') + Add Comment

		ul.comments
