header#galaxy-ui
	nav.site-nav
		a#logo Telephenesis
		a.menuToggle |||

		#menu
			.user
				a.create.nav(href="/settings") profile
				a.nav(href="/logout") logout

			.guest
				a.nav(href="/login") login
				a.nav(href="/register") register

			a.nav(href="/help") help

	#sortingUI
		//-///REVISIT not sure about use of nav in terms of best semantics
		nav.order-nav
			span order:
			|
			|
			span.current-order galaxy

			ul
				li
					a.sort(data-order=CONSTS.ORDER.GALAXY) galaxy
				li
					a.sort(data-order=CONSTS.ORDER.CONSTELLATIONS) constellations
				li
					a.sort(data-order=CONSTS.ORDER.MOST_RECENT) by date
				li
					a.sort(data-order=CONSTS.ORDER.MOST_POPULAR) by popularity
				li
					a.sort.bookmarks-sort(
						style = { display: user ? "block" : "none" }
						class = !user || user.bookmarks.length == 0 ? 'disabled' : ''
						data-order = CONSTS.ORDER.BOOKMARKS
					) bookmarks
				//- li recently played

		nav.view-nav
			span view:
			| &nbsp;
			span.current-view galaxy

			ul
				li
					a.sort(data-view=CONSTS.VIEW.LIST) list
				li
					a.sort(data-view=CONSTS.VIEW.GRID) grid

		header
			h2.view-header Sorting by Most Recent

	header#playingStarHeader.inactive
		div#playbackProgress
			div#playbackProgressBar
			// div#playbackProgressAccent

		div#playingStarInfo
			h2#playingStarTitle Song Title
			h3#playingCreatorName Artist Name
			a#playingCreatorLink artistwebsite.com
			a#togglePlayingComments Comments
			div#playingComments
				//-button + Add Comment

				form.ajax(
					method='POST'
					action='/create-comment'
					data-ajax-action='/ajax/create-comment'
				)
					input.playing-star-id(
						type='hidden'
						name='starID'
					)

					textarea.comment-text(
						placeholder="Something positive..."
						name='commentText'
					)

					button(type='submit') + Add Comment

				ul.comments
