doctype html

html(lang="en")
	head
		title= pageTitle
		//- :javascript
		//- 	|	if (foo) {
		//- 	|		bar()
		//- 	|	}

		meta(charset="utf-8")

		script(src="/telephenesis.js" type="text/javascript")
		link(href="https://fonts.googleapis.com/css?family=Strait|Monda" rel="stylesheet" type="text/css")
		link(href="/constellations.css" rel="stylesheet" type="text/css")

	body(class=className + " galaxy-view")
		include header.pug

		canvas#uiEffects

		include star.pug
		include spc.pug

		#limbo
			//- #ticket
			include contextMenus.pug
			include creation.pug
			include auth.pug
			include help.pug

			form#settings.ajax.uibox.wide(method="POST")
				label.floatBeside(for="email") Email
				input(name="email" value=user.em type="text" placeholder="email" disabled)

				label.floatBeside(for="creatorName") Creator Name
				input(
					name="creatorName"
					type="text"
					placeholder="creator name"
					value= user.usrMeta ? user.usrMeta.creatorName : ''
				)

				// label(for="password") Password
				// input(name="password" placeholder="password")
				// label(for="password-confirm") Confirm
				// input(name="password-confirm" placeholder="password again")

				button.btn.main(type="submit") Submit

			audio#aud

			// script
				//- | al(window, 'load', function() {

				//- if c == 'auth' || c == 'admin'
				//- 	| anm.fadeOut(spc.map);
				//- 	| spc.flt(true);

				//- | });
