doctype html

html(lang="en")
	head
		title= pageTitle
		//- :javascript
		//- 	|	if (foo) {
		//- 	|		bar()
		//- 	|	}

		meta(charset="utf-8")

		script(src="/telephenesis.js" type="text/javascript")
		link(href="https://fonts.googleapis.com/css?family=Strait|Monda" rel="stylesheet" type="text/css")
		link(href="/constellations.css" rel="stylesheet" type="text/css")

	body(class=className)
		nav
			a#logo Telephenesis
			a.menuToggle |||

			#menu
				.user
					a.create(href="/settings") profile
					a(href="/logout") logout

				.guest
					a(href="/login") login
					a(href="/register") register

				a(href="/help") help

		header
			h2 Song Title
			h3 Artist Name
			a artistwebsite.com

		canvas#uiEffects

		#spc
			div.lyr.a
			div.lyr.b
			div.lyr.c

			#map
				each star, i in stars
					star.id
					//- .star(data-prev=star.lsid data-next=star.)

					.star(
						id = "s" + star.id
						class = user.usrMeta && user.usrMeta.bookmarks.indexOf(star.id) != -1 ? "bookmarked" : ""
						data-prev = star.sourceId
						data-tier = star.tier
						style = "left: " + star.x + "px; top: " + -star.y + "px"
					)
						a(href=star.id style="background-color: rgb(" + star.rgb + ')')

						div.meta
							div.text.name= star.creatorName
							div.text.time

		#limbo
			//- #ticket
			include contextMenus.pug
			include creation.pug
			include auth.pug
			include help.pug

			form#settings.uibox.wide(method="POST")
				label.floatBeside(for="email") Email
				input(name="email" value=user.em type="text" placeholder="email" disabled)

				label.floatBeside(for="creatorName") Creator Name
				input(
					name="creatorName"
					type="text"
					placeholder="creator name"
					value= user.usrMeta ? user.usrMeta.creatorName : ''
				)

				// label(for="password") Password
				// input(name="password" placeholder="password")
				// label(for="password-confirm") Confirm
				// input(name="password-confirm" placeholder="password again")

				button.btn.main(type="submit") Submit

			audio#aud

			// script
				//- | al(window, 'load', function() {

				//- if c == 'auth' || c == 'admin'
				//- 	| anm.fadeOut(spc.map);
				//- 	| spc.flt(true);

				//- | });
