#sortingUI
	nav
		span view: 
		a.sort.active(data-view="galaxy") galaxy

		ul
			li
				a.sort(data-order="most-recent") by date
			li
				a.sort(data-order="popular") by popularity
			li
				a.sort(data-order="bookmarks") bookmarks
			//- li recently played

	header
		h2 Sorting by Most Recent

#spc
	div.lyr.a
	div.lyr.b
	div.lyr.c

	#map
		each star, i in stars
			// star.id
			//- .star(data-prev=star.lsid data-next=star.)

			.star(
				id = "s" + star.id
				class = user.usrMeta && user.usrMeta.bookmarks.indexOf(star.id) != -1 ? "bookmarked" : ""
				data-prev = star.originStarID
				data-originStarID = star.originStarID
				data-tier = star.tier
				data-title = star.title
				data-x = star.x
				data-y = star.y
				data-creatorName = star.creator.creatorName
				data-creatorLink = star.creator.creatorLink
				data-constellation = star.constellationID
				data-timestamp = star.timestamp
				style = "left: " + star.x + "px; top: " + star.y + "px"
			)
				a(
					href=star.fileURL
					style="background-color: rgb(" + star.color + ')'
				)

				//- div.gridBackground

				div.meta
					span.text.title= star.title

					if star.creator.creatorName
						| by
						span.text.creator= star.creator.creatorName

					///COMPAT check:
					div.text.creationTime= new Date(star.timestamp).toLocaleDateString()

					div.text.playbackTime