mixin star(starData = {})
	.star&attributes(attributes)
		a(
			href='/star/' + starData.publicID
			style='background-color: rgb(' + starData.color + ')'
		)

		div.meta
			span.text.title= starData.title

			if starData.artist
				| by
				span.text.artist= starData.artist.name
				//-span.text.creator= starData.creator.creatorName

			//-//@REVISIT check compatability:
			div.text.creationTime= new Date(starData.timestamp).toLocaleDateString()

			div.text.playbackTime

		if block
			block
