mixin star(starData = {})
	.star&attributes(attributes)
		a(
			href='/star/' + starData.publicID
			data-mediaURL=starData.fileURL + '.mp3'
			style='background-color: rgb(' + starData.color + ')'
		)

		//- div.gridBackground

		div.meta
			span.text.title= starData.title

			if starData.creator && starData.creator.name
				| by
				span.text.creator= starData.creator.creatorName

			///COMPAT check:
			div.text.creationTime= new Date(starData.timestamp).toLocaleDateString()

			div.text.playbackTime

		if block
			block
